<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/include/header.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css"/>
    <title>Document</title>
<style>@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;

}

nav {
    height: 11.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1113153c;
    position: fixed;
    top: 0;
    z-index: 1000; 
    backdrop-filter: blur(10px);

}

.logo {
    margin-left: auto;
    margin-right: auto;
    font-size: 26.7px;
    font-weight: 700;
    background: linear-gradient(to right, #E96EA5, #4816F3);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; 
}


.login {
    margin-left: auto;
    width: 104px;
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    justify-content: center;
    height: 43px;
    background-color: #4a42e4;
    margin-right: auto;
    transition: background-color 0.3s, transform 0.3s; 
}

.login:hover {
    background-color: #5a52ed;
    transform: translateY(-4px); 
}</style>
</head>
<body>
    <nav>
        <div class="logo">
            Modvibe
        </div>

        <% if (user) { %>
            <a class="login" href="/panel">
                Panel
            </a>
          <% } else { %>
            <a class="login" href="/login">
                Login
            </a>
        <% } %>
    
    </nav>
</body>
</html>
