<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css"/>

</head>
<body>
    <%- include('include/sidebar.ejs') %>

    <main class="main">
        <div class="kap">

        <div class="left">
                <p class="baslık">Hemen Linklerini Aktif Et</p>
                <p class="text">Güvenli Depolama Alanımıza Sende Linkleri Ücretsiz Ekle Profileri Aktif Tutmaya Başla</p>
                <div class="btn-div">
                    <a href="/panel/ekle" class="ekle">Ekle</a>
    
        </div>
   
         
        </div>
        <div class="right">
            <div class="img">
                <img class="imgs" id="ilk" src="/img/angle.png" alt="">
                <img class="imgs" id="iki" src="/img/love.png" alt="">
                <img class="imgs" id="uc" src="/img/smile.png" alt="">
            </div>
        </div>
       
    </main>

</body>
</html>